$squareSize: 6rem;
$pieceSize: calc(#{$squareSize} - 20%);
$chessPieces: '../img/800px-Chess_Pieces_Sprite.svg.png';
$darkGrey1: #333;
$highlight: rgb(102, 117, 32);
$highlight2: rgb(81, 93, 25);
$highlight3: rgb(136, 83, 67);
$highlight4: rgb(80, 70, 221);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #222;
}

.board_square {
	position: absolute;
	caret-color: transparent; //This hides the typing cursor
	height: $squareSize;
	width: $squareSize;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&[class*='--white'] {
		background: #999;
	}
	&[class*='--black'] {
		background: #444;
	}

	&.dragOver {
		border: 3px solid #ccc;
	}

	&.highlight {
		background-color: $highlight;
	}
	&.highlight2 {
		background-color: $highlight2;
	}

	&.legalMoves {
		background-color: $highlight3;
		border: solid 1px rgba($color: #000000, $alpha: 0.1);
	}
	&.runAway {
		background-color: $highlight4;
		border: solid 1px rgba($color: #000000, $alpha: 0.1);
	}

	& h4 {
		position: absolute;
		top: calc(#{$squareSize} - 20%);
		left: calc(#{$squareSize} - 95%);
		color: $darkGrey1;
		font-size: 90%;
	}
}

.board_container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, $squareSize);
	gap: 0;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

// White pieces
.piece {
	width: $squareSize;
	height: $squareSize;
	z-index: 1;

	&:hover {
		cursor: pointer;
	}

	&.wk {
		background: url('../img/wk.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.wq {
		background: url('../img/wq.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.wb {
		background: url('../img/wb.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.wn {
		background: url('../img/wn.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.wr {
		background: url('../img/wr.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.wp {
		background: url('../img/wp.svg') center center no-repeat;
		background-size: $pieceSize;
	}

	// Black pieces
	&.bk {
		background: url('../img/bk.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.bq {
		background: url('../img/bq.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.bb {
		background: url('../img/bb.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.bn {
		background: url('../img/bn.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.br {
		background: url('../img/br.svg') center center no-repeat;
		background-size: $pieceSize;
	}
	&.bp {
		background: url('../img/bp.svg') center center no-repeat;
		background-size: $pieceSize;
	}
}
